/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body{
    background-color: darkslategray;
}
.hey
{
    background:aqua;
    background-color: darkcyan;
    border-radius: 50px;
}