body {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp5273317.png);
    

}
.form {
    display: inline-block;
    padding: 250px;
}

.jumbotron
{
    background-color: black;
}

.heading
{
    color: gray;
}
.form-control
{
    text-align: center;
}
